@use "../abstracts/index" as *;

.h1 {
    color: var(--white);
    @include XL;

    @include medium {
        font-size: 72px;
        letter-spacing: -2.05px;
        line-height: 72px;
    }

    @include small {
        font-size: 40px;
        letter-spacing: -1.14px;
        line-height: 40px;
    }
}