@use "../abstracts/index" as *;

.content {
    display: flex;
    flex-direction: column;

    &__title {
        width: 709px;
    }

    &__paragraph {
        margin-top: 2.688rem;
    }

    &__button {
        margin-top: 4.125rem;
    }

    &--accent-ring-top {
        position: relative;

        &::after {
            content: url("/static/website/assets/images/pattern-rings.svg");
            position: absolute;
            /* half the height of the ring */
            top: -75px;
            /* half the width of the ring */
            left: -275px;
        }
    }

    @include medium {
        &__title {
            width: 445px;
        }

        &__paragraph {
            margin-top: 3.75rem;
        }

        &__button {
            margin-top: 2.125rem;
        }
    }

    @include small {
        align-items: center;
        text-align: center;

        &__title {
            width: inherit;
        }

        &__paragraph {
            margin-top: 1.5rem;
        }

        &__button {
            margin-top: 1.5rem;
        }

        &--accent-ring-top {
            position: relative;

            &::after {
                content: url("/static/website/assets/images/pattern-rings.svg");
                position: absolute;
                top: -275px;
                left: -275px;
            }
        }
    }
}