@use "../abstracts/index" as *;

.footer {
    padding-top: 5.25rem;
    background-color: var(--dark-black);
    @include container;

    &__contact {
        margin-bottom: 5.75rem;
    }

    @include medium {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;


        &__contact {
            flex-direction: column;
        }
    }
}