@use "../abstracts/index" as *;

.footer {
    padding-top: 5.25rem;
    padding-bottom: 5.25rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    background-color: var(--dark-black);
    @include container;
}