@use "../abstracts/index" as *;

.header {
    position: absolute;
    z-index: 1;
    @include container;

    &__navigation {
        margin-right: 2rem;
    }

    @include small {
        flex-direction: column;

        &__navigation {
            margin-right: 0;
        }
    }
}