@use "../abstracts/index" as *;

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

    &--border-top {
        border-top: 1px solid var(--white);

    }

    @include medium {
        width: 100%;
    }

    @include small {
        flex-direction: column;
    }
}