@use "../abstracts/index" as *;

.skills {
    @include container;

    &__list {
        padding-top: 4.5rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        column-gap: 1.875rem;
        row-gap: 3.5rem;
    }

    &--accent-ring-bottom {
        position: relative;

        &::after {
            content: url("/static/website/assets/images/pattern-rings.svg");
            position: absolute;
            bottom: -75px;
            right: -402.5px;
        }
    }

    &--border-top {
        border-top: 1px solid var(--white);
    }

    @include small {


        &__list {
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
            justify-content: center;
            text-align: center;
            gap: 1.5rem;
        }

        &--border-bottom {
            border-bottom: 1px solid var(--white);
        }
    }
}